body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('p1.jpg'); /* Relative path to the image file */
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

#main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #555;
}

.hidden {
    display: none;
}

#planets-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.planet-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.planet-button:hover {
    background-color: #555;
}
